# --- Timezone ---
TZ=Europe/Budapest

# --- PostgreSQL ---
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_UNAME=
POSTGRES_PASS=

# --- PgAdmin ---
PGADMIN_PORT=
PGADMIN_EMAIL=
PGADMIN_PASS=

# --- Docker user ---
UID=1000
GID=1000

# --- NODE_ENV  ---
NODE_ENV=development

# --- REDIS ---
REDIS_PASSWORD=